### 1. Control Flow
- Sequence: Tuan tu
- Loop: Lap
- Condition: Re nhanh

### 1.1. Sequence

In [1]:
print('My name is Truong')
print(1+1)
print(5%2)

My name is Truong
2
1

### 1.2. Loop: iterable
- For: 
    1. Loop through item
    ```
    for item in list:
      business logic
      
    ```
    
    2. Loop through index
    ```
    for i in range(start, stop(exclusive), step):
        business logic
    
    ```
    
- While
    ```
    while condition(boolean):
        business logic
    ```

In [9]:
li = [1, 2, 3, 4]
for item in li:
#     print(f'Item: {item}')
#     print('Item: {}'.format(item))
    print('Item: %.2f' %item)

Item: 1.00
Item: 2.00
Item: 3.00
Item: 4.00

In [19]:
tupl = (1, 2, 3, 4)

In [23]:
a, *c, d = tupl

In [26]:
d

4

In [24]:
c

[2, 3]

In [18]:
tuple(range(1, 11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [32]:
li = [1, 2, 3, 4]
for index in range(0, len(li)):
    print(f'Item: {li[index]}')

Item: 1
Item: 2
Item: 3
Item: 4

In [33]:
li = [1, 2, 3, 4]
for index in range(0, len(li)):
    print(f'Item: {li[index]**2}')

Item: 1
Item: 4
Item: 9
Item: 16

In [35]:
index = 0
while index < len(li):
    print(f'Item: {li[index]}')
    index += 1

Item: 1
Item: 2
Item: 3
Item: 4

In [50]:
li = list(range(0, 11))
a, index = 5, 0
while li[index] < a:
    print(f'Item: {li[index]}')
    index += 1

Item: 0
Item: 1
Item: 2
Item: 3
Item: 4

#### 1.2.1. Comprehension

In [51]:
li = list(range(0, 11))
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
[item**2 for item in li]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
[item for item in li if item%2==0]

[0, 2, 4, 6, 8, 10]

In [57]:
[item if item%2==0 else item**2 for item in li]

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

In [59]:
[item_1 * item_2 for item_1 in li for item_2 in li]

121

In [68]:
li = list(range(0, 10))

for idx_1 in range(len(li)):
    print()
    print(f'Index of loop 1: {idx_1}')
    print('-'*100)
    for idx_2 in range(idx_1 + 1, len(li)):
        print(f'Index of loop 2: {idx_2}')

Index of loop 1: 0
----------------------------------------------------------------------------------------------------
Index of loop 2: 1
Index of loop 2: 2
Index of loop 2: 3
Index of loop 2: 4
Index of loop 2: 5
Index of loop 2: 6
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 1
----------------------------------------------------------------------------------------------------
Index of loop 2: 2
Index of loop 2: 3
Index of loop 2: 4
Index of loop 2: 5
Index of loop 2: 6
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 2
----------------------------------------------------------------------------------------------------
Index of loop 2: 3
Index of loop 2: 4
Index of loop 2: 5
Index of loop 2: 6
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 3
----------------------------------------------------------------------------------------------------
Index of loop 2: 4
Index of loop 2: 5
Index of loop 2: 6
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 4
----------------------------------------------------------------------------------------------------
Index of loop 2: 5
Index of loop 2: 6
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 5
----------------------------------------------------------------------------------------------------
Index of loop 2: 6
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 6
----------------------------------------------------------------------------------------------------
Index of loop 2: 7
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 7
----------------------------------------------------------------------------------------------------
Index of loop 2: 8
Index of loop 2: 9

Index of loop 1: 8
----------------------------------------------------------------------------------------------------
Index of loop 2: 9

Index of loop 1: 9
----------------------------------------------------------------------------------------------------

In [64]:
[li[idx_1]*li[idx_2] for idx_1 in range(len(li)) 
 for idx_2 in range(idx_1+1, len(li))]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 20,
 24,
 28,
 32,
 36,
 40,
 30,
 35,
 40,
 45,
 50,
 42,
 48,
 54,
 60,
 56,
 63,
 70,
 72,
 80,
 90]

### 1.3. Condition

```
if boolean_condition:
    business
elif boolean_condition: - optional
    business
elif boolean_condition: - optional
...
else: - optional
    business
```

In [72]:
a, b = 3, 4
if a > b:
    print('a greater than b')
else:
    print('a lesser than or equal to b')

a lesser than or equal to b

In [73]:
a, b = 3, 4
if a > b:
    print('a greater than b')

In [75]:
a, b = 3, 3
if a > b:
    print('a greater than b')
elif a < b:
    print('a lesser than b')
else:
    print('a equal to b')

a equal to b

In [77]:
# Tim gia tri lon nhat cua 1 list nhap vao
li = [99, 88, 65, 101, 103, 204]

In [82]:
max_value = li[0] # 99
for item in li[1: ]: #103
    if max_value < item: # 103 < 204 -->True
        max_value = item  # max_value = 204
max_value

204

### 2. Function 
```
def sum_list(argument_1, argument_2 - optional):
    business
    return result - optional
```

In [101]:
def average(li):
    sum_all = 0
    if len(li) < 1:
        return sum_all, 0
    
    for item in li:
        sum_all += item
        
    return sum_all, sum_all / len(li)

In [108]:
all_1, _ = average([1, 2, 3, 4])
all_1

10

In [111]:
square = lambda x : x**2
square(9)

81

In [112]:
area = lambda x, y : x*y

In [113]:
area(5, 20)

100

In [118]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

In [122]:
# Dau vao la 1 so nguyen, do co phai so nguyen to hay khong

def prime_number(number):
    for i in range(2, int(number/2)):
        if number % i == 0:
            return False
        
    return True

In [123]:
prime_number(3)

True