#Lecture 1:
- Data type
- Data structure

- Int, Float, complex
- String
- Boolean: True/False
- None

## These are the most basic languague to communicate with the computer

type (1)

In [ ]:
type (1.0)

In [ ]:
type (1.3)

In [ ]:
1+2

In [ ]:
type (int)

In [ ]:
Type(1)

In [1]:
type (1)

int

In [2]:
type ("My name is")

str

In [3]:
type (1.3)

float

In [5]:
type (1j+ 2*2)

complex

In [7]:
type ("true")

str

In [8]:
type ('True')

str

In [9]:
type(True)

bool

In [10]:
True + False

1

In [11]:
True*False

0

In [12]:
True *     False

0

In [13]:
True > False

True

In [14]:
3>= 4

False

In [15]:
3>=False

True

In [16]:
a = 8
a

8

In [18]:
# Last line means 'print the variable' (a)

In [19]:
True or False

True

In [20]:
True or False or False

True

In [21]:
False or 3

3

In [22]:
#Tất cả các giá trị khác 0 đại diện cho True

In [23]:
3 or True

3

In [24]:
int (True or 3)

1

In [25]:
True and False

False

In [26]:
(True or False) and False

False

In [27]:
not True

False

In [28]:
not False

True

In [30]:
1 in [1,2,3]

True

In [31]:
a in[1,3,7]

False

### 2.2 Data structure

- List[] or list()
- Tuple: () or tuple ()
- Set: {a,b,c}, set() 
- Dictionary: {key:value} or {}

- Mutable: can change elements
- Immutable: unable to change elements

In [33]:
a = 1

In [34]:
id(a)

140723183526288

In [35]:
id(1)

140723183526288

In [37]:
##immutable
a= 1
print('before',id(a))
a= 10
print ('After',id(a))

before 140723183526288
After 140723183526576

In [41]:
# Mutable
str1[1,3,4,5,6]
print('Before',id(str1{0})

SyntaxError: invalid syntax (<ipython-input-41-047cbeb20a15>, line 3)

**LIST**

In [51]:
#index: vị trí từng phần tử trong list
li = [1,3,6,"Khánh", 8*3]
li[4]

24

In [52]:
li.index ('Khánh')

3

In [57]:
li[3] = 'Avenger'
print('replace the index value')
li

replace the index value

[1, 3, 6, 'Avenger', 24]

In [59]:
li[-1] = 'Tsushima'
li
#'Change from the first last index value'

[1, 3, 6, 'Avenger', 'Tsushima']

In [60]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
li[4]

'Tsushima'

In [63]:
li[5] = 'ABCD'

IndexError: list assignment index out of range

In [64]:
li.append

In [67]:
li.append('MCI Python')
li

[1, 3, 6, 'Avenger', 'Tsushima', 3, 3, 'MCI Python']

In [68]:
li.clear()
li

[]

In [71]:
## append vs. extend
## pop vs remove
## reverse
ABC = [1,3,4,'MCI','Python',8*3]
ABC

[1, 3, 4, 'MCI', 'Python', 24]

In [73]:
ABC.extend('New in extend')
ABC

[1,
 3,
 4,
 'MCI',
 'Python',
 24,
 'N',
 'e',
 'w',
 ' ',
 'i',
 'n',
 ' ',
 'e',
 'x',
 't',
 'e',
 'n',
 'd']

In [74]:
print(ABC)

[1, 3, 4, 'MCI', 'Python', 24, 'N', 'e', 'w', ' ', 'i', 'n', ' ', 'e', 'x', 't', 'e', 'n', 'd']

In [77]:
ABC.pop('AAAA')
ABC

TypeError: 'str' object cannot be interpreted as an integer

In [78]:
print (ABC)

[1, 3, 4, 'MCI', 'Python', 24, 'N', 'e', 'w', ' ', 'i', 'n', ' ', 'e', 'x', 't', 'e', 'n', 'd']

In [80]:
ABC.pop(3) ### Remove the phần tử trong index

'MCI'

In [81]:
print(ABC)

[1, 3, 4, 'Python', 24, 'N', 'e', 'w', ' ', 'i', 'n', ' ', 'e', 'x', 't', 'e', 'n', 'd']

In [86]:
ABC.remove('Python')
ABC

[1, 4, 24, 'N', 'e', 'w', ' ', 'i', 'n', ' ', 'e', 'x', 't', 'e', 'n', 'd']

In [88]:
ABC.reverse()

In [89]:
print (ABC)

['d', 'n', 'e', 't', 'x', 'e', ' ', 'n', 'i', ' ', 'w', 'e', 'N', 24, 4, 1]

In [90]:
ABC.reverse()

In [91]:
ABC

[1, 4, 24, 'N', 'e', 'w', ' ', 'i', 'n', ' ', 'e', 'x', 't', 'e', 'n', 'd']

Append vs. extend
Append: mở rộng list từ phần tử cuối
Extend: Thêm vào từng ký tự trong ''
Pop: xóa phần tử thứ (n) trong index & display phần tử được xóa
Remove: xóa phần tử được chỉ định chính xác 
Reverse: đảo thứ tự chuỗi

In [92]:
ABC.reverse().reverse()

AttributeError: 'NoneType' object has no attribute 'reverse'

In [93]:
ABC

['d', 'n', 'e', 't', 'x', 'e', ' ', 'n', 'i', ' ', 'w', 'e', 'N', 24, 4, 1]

In [99]:
ABC[::-1]

[1, 4, 24, 'N', 'e', 'w', ' ', 'i', 'n', ' ', 'e', 'x', 't', 'e', 'n', 'd']

In [112]:
ABC

['d', 'n', 'e', 't', 'x', 'e', ' ', 'n', 'i', ' ', 'w', 'e', 'N', 24, 4, 1]

In [105]:
ABC[2:8]

['e', 't', 'x', 'e', ' ', 'n']

In [116]:
ABC[::-3]

[1, 'N', ' ', ' ', 't', 'd']

In [117]:
### LIST[START, STOP,STEP] POSITION TO DISPLAY IN THE LIST

In [123]:
XYZ = ['truong', 'nhat', 'abckd', 'mci']

In [124]:
[i.upper() for i in XYZ[::2]]

['TRUONG', 'ABCKD']

#TUPLE: có index, immutable

In [130]:
tuple1 = (1,4,7,8,'Khanh',1,1,1,1,)

In [131]:
tuple1.count(1)

5

In [137]:
tuple1.index(2,'Khanh')

TypeError: slice indices must be integers or have an __index__ method

# SET: Không index, không có giá trị trùng

In [142]:
se = {1,3,4,4,4,4,76,6,7}
se

{1, 3, 4, 6, 7, 76}

In [143]:
dir(se)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [153]:
a = set ([1,3,4,5,6,'Khánh', 'Python'])

In [146]:
b = {1,3,8,9,0,'Khánh','MCI'}

In [148]:
print(a,b)

{1, 'Khánh', 3, 4, 5, 6, 'Python'} {0, 1, 'Khánh', 3, 'MCI', 8, 9}

In [149]:
a.difference(b)

{4, 5, 6, 'Python'}

In [150]:
a.difference_update(b)

{4, 5, 6, 'Python'}

In [156]:
c = a.intersection(b)

In [155]:
a

{1, 3, 4, 5, 6, 'Khánh', 'Python'}

In [157]:
c

{1, 3, 'Khánh'}

In [158]:
a.isdisjoint(b)

False

In [161]:
a.discard(4)

In [162]:
a

{1, 3, 5, 6, 'Khánh', 'Python'}

In [164]:
a.pop()

'Khánh'

In [172]:
y = {1,3,51,88,3,7,0,'Name','ABC','PPP'}

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i)? (<ipython-input-172-c7d7647f4a40>, line 3)

In [168]:
a.pop()

6

In [174]:
for i in y:
    print (i)

0
1
3
PPP
7
ABC
51
88
Name

### DICTIONARY
{KEY:VALUE}

In [210]:
dic1 = {'Name': ['Khánh','Minh','Hồng'], 'Age':[19,22,36]}

In [176]:
dic1

{'Name': ['Khánh', 'Bim', 'Jim'], 'Age': [19, 22, 36]}

In [189]:
dic1['Name']

['Khánh', 'Bim', 'Jim']

In [196]:
dic1.get('Name','MCI') #Trả về Key value

['Khánh', 'Bim', 'Jim']

In [199]:
aaa = dic1.copy()
aaa

{'Name': ['Khánh', 'Bim', 'Jim'], 'Age': [19, 22, 36]}

In [200]:
aaa

{'Name': ['Khánh', 'Bim', 'Jim'], 'Age': [19, 22, 36]}

In [201]:
dic1

{'Name': ['Khánh', 'Bim', 'Jim'], 'Age': [19, 22, 36]}

In [202]:
dir(dic1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [208]:
dic1.popitem()

KeyError: 'popitem(): dictionary is empty'

In [211]:
dic1.keys()

dict_keys(['Name', 'Age'])

In [212]:
dic1.items()

dict_items([('Name', ['Khánh', 'Minh', 'Hồng']), ('Age', [19, 22, 36])])

In [215]:
for key, value in dic1.items():
    print('key: {key} - values: {values})

SyntaxError: EOL while scanning string literal (<ipython-input-215-08deeeccb57c>, line 2)

In [1]:
AAA = [1,3,4,5,7,8,9,111,222,333]
AAA

[1, 3, 4, 5, 7, 8, 9, 111, 222, 333]

In [3]:
dir(AAA)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
AAA.append(1)

In [6]:
AAA

[1, 3, 4, 5, 7, 8, 9, 111, 222, 333, 1]

In [7]:
AAA.append(444)

In [8]:
AAA

[1, 3, 4, 5, 7, 8, 9, 111, 222, 333, 1, 444]

In [9]:
AAA.count(1)

2

In [10]:
AAA.count(0)

0

In [23]:

for i in [1,2]:
    AAA.append(1)

In [22]:
AAA

[1, 3, 4, 5, 7, 8, 9, 111, 222, 333, 1, 444, 1, 1, 1, 1, 1]

In [24]:
AAA

[1, 3, 4, 5, 7, 8, 9, 111, 222, 333, 1, 444, 1, 1, 1, 1, 1, 1, 1]

In [27]:
AAA[1]

3

In [28]:
del AAA[0]

In [29]:
AAA

[3, 4, 5, 7, 8, 9, 111, 222, 333, 1, 444, 1, 1, 1, 1, 1, 1, 1]

In [30]:
del AAA[-3]

In [31]:
AAA

[3, 4, 5, 7, 8, 9, 111, 222, 333, 1, 444, 1, 1, 1, 1, 1, 1]

In [32]:
AAA.count(1)

7

In [33]:
dir(AAA)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [38]:
AAA.extend('AAAA')

In [39]:
AAA

[3, 4, 5, 7, 8, 9, 111, 222, 333, 1, 444, 1, 1, 1, 1, 1, 1, 'A', 'A', 'A', 'A']

In [41]:
AAA.extend('555')

In [57]:
AAA

[1, 2, 3, 999, 333, 4, 5, 'AA', 111, 222]

In [48]:
AAA.index(333)

8

In [49]:
AAA.clear()

In [50]:
AAA

[]

In [52]:
AAA = [1,2,3,4,5,'AA',111,222]

In [53]:
AAA

[1, 2, 3, 4, 5, 'AA', 111, 222]

In [54]:
AAA.insert(3,333)

In [55]:
AAA

[1, 2, 3, 333, 4, 5, 'AA', 111, 222]

In [56]:
AAA.insert(3,999)
AAA

[1, 2, 3, 999, 333, 4, 5, 'AA', 111, 222]

In [58]:
AAA.pop(-1)

222

In [59]:
AAA

[1, 2, 3, 999, 333, 4, 5, 'AA', 111]

In [60]:
AAA.pop(-2)
AAA

[1, 2, 3, 999, 333, 4, 5, 111]

In [61]:
AAA.pop(1)
AAA

[1, 3, 999, 333, 4, 5, 111]

In [62]:
AAA.remove(999)
AAA

[1, 3, 333, 4, 5, 111]

In [63]:
AAA.insert(3,999)

In [64]:
AAA.insert(5,999)

In [66]:
AAA.insert(7,999)
AAA

[1, 3, 333, 999, 4, 999, 5, 999, 111]

In [67]:
AAA.remove(999)

In [68]:
AAA

[1, 3, 333, 4, 999, 5, 999, 111]

In [69]:
AAA.sort()

In [70]:
AAA

[1, 3, 4, 5, 111, 333, 999, 999]

In [74]:
AAA.sort()
AAA

[1, 3, 4, 5, 111, 333, 999, 999]

In [75]:
BBB = (1,2,3,4,5,6,111,222,333)

In [76]:
type(BBB)

tuple

In [77]:
dir(BBB)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [79]:
BBB.count(2)

1

In [80]:
BBB.index(111)

6

In [81]:
BBB.index(5)

4

In [82]:
CCC = {1,2,3,4,5,6,111,222,333,444,111}
CCC

{1, 2, 3, 4, 5, 6, 111, 222, 333, 444}

In [83]:
type (CCC)

set

In [84]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [85]:
DDD = {1,2,3,4,111,555,999,888}

In [86]:
CCC.add(111)

In [96]:
CCC
print (CCC)
print(DDD)

{1, 2, 3, 4, 5, 6, 9, 333, 111, 444, 222}
{1, 2, 3, 4, 999, 555, 111, 888}

In [89]:
CCC.add(333)

In [91]:
CCC.add(9)
CCC

{1, 2, 3, 4, 5, 6, 9, 111, 222, 333, 444}

In [92]:
CCC.difference(DDD)

{5, 6, 9, 222, 333, 444}

In [93]:
CCC.difference(DDD)

{5, 6, 9, 222, 333, 444}

In [94]:
CCC

{1, 2, 3, 4, 5, 6, 9, 111, 222, 333, 444}

In [95]:
DDD

{1, 2, 3, 4, 111, 555, 888, 999}

In [99]:
CCC.difference_update(DDD)

In [98]:
CCC

{1, 2, 3, 4, 5, 6, 9, 111, 222, 333, 444}

In [102]:
CCC

{5, 6, 9, 222, 333, 444}

In [101]:
DDD

{1, 2, 3, 4, 111, 555, 888, 999}

In [103]:
CCC.discard(5)

In [104]:
CCC

{6, 9, 222, 333, 444}

In [105]:
CCC.discard(444)

In [106]:
CCC

{6, 9, 222, 333}

In [107]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [109]:
print(CCC)
print(DDD)

{6, 9, 333, 222}
{1, 2, 3, 4, 999, 555, 111, 888}

In [113]:
CCC.add(111)

In [114]:
CCC

{1, 4, 5, 6, 9, 111, 222, 333}

In [115]:
CCC.intersection(DDD)

{1, 4, 111}

In [116]:
CCC

{1, 4, 5, 6, 9, 111, 222, 333}

In [117]:
CCC.intersection_update(DDD)

In [118]:
CCC

{1, 4, 111}

In [119]:
CCC.isdisjoint(DDD)

False

In [120]:
CCC.clear()

In [121]:
CCC.isdisjoint(DDD)

True

In [122]:
CCC = {1,2,3,4,5,111,444,888}

In [124]:
CCC.issubset(DDD)

False

In [125]:
XX = {1,2}

In [126]:
XX.issubset(DDD)

True

In [127]:
XX.issuperset(DDD)

False

In [128]:
DDD.issuperset(XX)

True

In [129]:
CCC.pop(0)

TypeError: pop() takes no arguments (1 given)

In [130]:
CCC

{1, 2, 3, 4, 5, 111, 444, 888}

In [132]:
CCC.pop()

1

In [133]:
CCC.pop()

2

In [135]:
CCC.pop()

3

In [136]:
CCC.remove(4)

In [137]:
CCC

{5, 111, 444, 888}

In [138]:
CCC.remove(1)

KeyError: 1

In [139]:
CCC

{5, 111, 444, 888}

In [140]:
CCC.symmetric_difference(DDD)

{1, 2, 3, 4, 5, 444, 555, 999}

In [141]:
DDD

{1, 2, 3, 4, 111, 555, 888, 999}

In [142]:
CCC.symmetric_difference_update(DDD)

In [143]:
CCC

{1, 2, 3, 4, 5, 444, 555, 999}

In [144]:
CCC.union(DDD)

{1, 2, 3, 4, 5, 111, 444, 555, 888, 999}

In [145]:
CC = {77,88,99,1010}

In [146]:
CCC.union(CC)

{1, 2, 3, 4, 5, 77, 88, 99, 444, 555, 999, 1010}

In [147]:
CCC.union(CC)

{1, 2, 3, 4, 5, 77, 88, 99, 444, 555, 999, 1010}

In [148]:
CCC

{1, 2, 3, 4, 5, 444, 555, 999}

In [149]:
CCC.update(CC)

In [150]:
CCC

{1, 2, 3, 4, 5, 77, 88, 99, 444, 555, 999, 1010}

In [2]:
stu = {'name' : ['A','B','C','DDD'], 'age' : [23,26,19,21], 'score' : [7,9,8.5,6.5]}

In [3]:
stu

{'name': ['A', 'B', 'C', 'DDD'],
 'age': [23, 26, 19, 21],
 'score': [7, 9, 8.5, 6.5]}

In [4]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
stu.copy()

{'name': ['A', 'B', 'C', 'DDD'],
 'age': [23, 26, 19, 21],
 'score': [7, 9, 8.5, 6.5]}

In [7]:
stu1 = stu.copy()

In [8]:
 stu1

{'name': ['A', 'B', 'C', 'DDD'],
 'age': [23, 26, 19, 21],
 'score': [7, 9, 8.5, 6.5]}

In [9]:
stu.fromkeys()

TypeError: fromkeys expected at least 1 arguments, got 0

In [16]:
y = 'def'
x = 'abc'
stu.fromkeys(y,x )

{'d': 'abc', 'e': 'abc', 'f': 'abc'}

In [17]:
y = 'def'
x = 'abc'
stu.fromkeys(y,x )

{'d': 'abc', 'e': 'abc', 'f': 'abc'}

In [18]:
stu.get('name')

['A', 'B', 'C', 'DDD']

In [20]:
stu.get('age')

[23, 26, 19, 21]

In [21]:
stu.items()

dict_items([('name', ['A', 'B', 'C', 'DDD']), ('age', [23, 26, 19, 21]), ('score', [7, 9, 8.5, 6.5])])

In [22]:
AAA = stu.items()

In [23]:
AAA

dict_items([('name', ['A', 'B', 'C', 'DDD']), ('age', [23, 26, 19, 21]), ('score', [7, 9, 8.5, 6.5])])

In [2]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
print ('stu')
print(stu1)

stu

NameError: name 'stu1' is not defined

In [5]:
stu

NameError: name 'stu' is not defined

In [6]:
stu = {'name' : ['A','B','C','DDD'], 'age' : [23,26,19,21], 'score' : [7,9,8.5,6.5]}

In [7]:
stu

{'name': ['A', 'B', 'C', 'DDD'],
 'age': [23, 26, 19, 21],
 'score': [7, 9, 8.5, 6.5]}

In [8]:
stu1 = stu.copy()
stu1

{'name': ['A', 'B', 'C', 'DDD'],
 'age': [23, 26, 19, 21],
 'score': [7, 9, 8.5, 6.5]}

In [9]:
stu.items()

dict_items([('name', ['A', 'B', 'C', 'DDD']), ('age', [23, 26, 19, 21]), ('score', [7, 9, 8.5, 6.5])])

In [10]:
stu.keys()

dict_keys(['name', 'age', 'score'])

In [11]:
stu.values()

dict_values([['A', 'B', 'C', 'DDD'], [23, 26, 19, 21], [7, 9, 8.5, 6.5]])

In [13]:
stu.popitem()

('score', [7, 9, 8.5, 6.5])

In [14]:
stu

{'name': ['A', 'B', 'C', 'DDD'], 'age': [23, 26, 19, 21]}

In [24]:
stu.pop('age'[,"DDD"])

SyntaxError: invalid syntax (<ipython-input-24-69e4ce2cc83e>, line 1)

In [18]:
stu

{'name': ['A', 'B', 'C', 'DDD'], 'age': [23, 26, 19, 21]}

In [25]:
stu.pop('name')
stu

{'age': [23, 26, 19, 21]}

In [26]:
stu.popitem()

('age', [23, 26, 19, 21])

In [27]:
stu

{}

In [28]:
stu = stu1.copy()

In [29]:
stu

{'name': ['A', 'B', 'C', 'DDD'],
 'age': [23, 26, 19, 21],
 'score': [7, 9, 8.5, 6.5]}

In [37]:
 x= stu.setdefault('name','III')
print(x)

['A', 'B', 'C', 'DDD']

In [38]:
y = stu.setdefault('class','Python')
print (y)

Python

In [46]:
stu.update({'age':'25'})
print (stu)

{'name': ['A', 'B', 'C', 'DDD'], 'age': '25', 'score': [7, 9, 8.5, 6.5], 'class': 'SQL'}

In [47]:
stu.update({'year':'2020'})
print (stu)

{'name': ['A', 'B', 'C', 'DDD'], 'age': '25', 'score': [7, 9, 8.5, 6.5], 'class': 'SQL', 'year': '2020'}

#CHALLENGE 4:
 - CREATE VLOOKUP FUNCTION SIMILAR TO EXCEL

In [48]:
user_list = {'Account number': ['001-123456-003','001,112233-100','003-445566-005','090-888999-100'], 'Currency': ['USD','EUR','JPY','GBP'],'Balance': [1200.15,199.46,5550,11133.19]}

In [49]:
print(user_list)

{'Account number': ['001-123456-003', '001,112233-100', '003-445566-005', '090-888999-100'], 'Currency': ['USD', 'EUR', 'JPY', 'GBP'], 'Balance': [1200.15, 199.46, 5550, 11133.19]}

In [50]:
user_list

{'Account number': ['001-123456-003',
  '001,112233-100',
  '003-445566-005',
  '090-888999-100'],
 'Currency': ['USD', 'EUR', 'JPY', 'GBP'],
 'Balance': [1200.15, 199.46, 5550, 11133.19]}

In [65]:
a= 12
b = 12
if b> a:
    print ('b greater than or equal to a')
    a = a+ 1
elif b == a:
    print ('b equal a')

b equal a

In [58]:
print (a)

11

In [66]:
def firstfunction():
    print('This is how it works')

In [69]:
firstfunction()

This is how it works

In [70]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [71]:
a = stu.update()

In [72]:
print (a)

None

In [73]:
stu.index(
)

AttributeError: 'dict' object has no attribute 'index'

In [86]:
i = 1
while i<3:
 print(i)
i +=

SyntaxError: invalid syntax (<ipython-input-86-61bf21a355b1>, line 4)

In [81]:
i = 1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

In [87]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [89]:
user_list = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

In [90]:
user_list

[['Account number', 'Currency', 'Balance'],
 ['001-123456-003', 'EUR', 1220.67],
 ['090-888999-100', 'USD', 1122.99],
 ['001-112244-003', 'JPY', 150000]]

In [91]:
type(user_list)

list

In [95]:
user_list.index('001-123456-003')

ValueError: '001-123456-003' is not in list

In [99]:
AAA = user_list(['001-123456-003', 'EUR', 1220.67])

TypeError: 'list' object is not callable

In [101]:
dir(list

SyntaxError: unexpected EOF while parsing (<ipython-input-101-45f15e75fcaf>, line 1)

In [104]:
user_list.index(2)

ValueError: 2 is not in list

In [105]:
account_id = ['001-123456-100','013-112233-090','005-090807-002']
account_id

['001-123456-100', '013-112233-090', '005-090807-002']

# Create a function vlookup(lookupvalue,lookuplist,column_index)
Source (lookup_list attribute): use the following list:
user_list = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

- first attempt:
Input: vlookup('001-123456-003',user_list,2)
Output: 'EUR'

- second attempt:
Input: vlookup('090-888999-100',user_list,3)
Output: 1122.99

- third attempt:
Input: vlookup ('000-333388-101',user_list,2)
Output: 'not found'

- fourth attempt:
Input: vlookup ('000-333388-101',other_list,2)
Output: Name error: other_list is not defined

- fifth attempt:
Input: vlookup ('090-888999-100',user_list,5)
Output: Out of range

In [1]:
user_list = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

In [2]:
user_list

[['Account number', 'Currency', 'Balance'],
 ['001-123456-003', 'EUR', 1220.67],
 ['090-888999-100', 'USD', 1122.99],
 ['001-112244-003', 'JPY', 150000]]

In [4]:
user_list[0] # the first list is the column title

['Account number', 'Currency', 'Balance']

In [5]:
import pandas as pd

In [8]:
user_list[:1]

[['Account number', 'Currency', 'Balance']]

In [13]:
df = pd.DataFrame(user_list[1:],columns = user_list[0])
df

   Account number Currency    Balance
0  001-123456-003      EUR    1220.67
1  090-888999-100      USD    1122.99
2  001-112244-003      JPY  150000.00

In [38]:
acc_number = '001-123456-003'
column_index = 2
x = df[df['Account number'] == acc_number].iat[0,column_index-1]

In [39]:
x

'EUR'

In [49]:
def vlookup(x,acc_number,column_index):
    acc_number = '001-123456-003'
    column_index = 2
    x = df[df['Account number'] == acc_number].iat[0,column_index-1]
print(x)

EUR

In [44]:
result

NameError: name 'result' is not defined

In [62]:
def vlookup(y,acc_number,column_index):
    acc_number = '001-123456-003'
    column_index = 4
    y = df[df['Account number'] == acc_number].iat[0,column_index-1]
    print(y)
    print(acc_number)
    print(column_index)

In [96]:
def vlookup(result,acc_number,column_index):
 acc_number = '001-123456-003' 
column_index = 3
result = df[df['Account number'] == acc_number].iat[0,column_index-1]

print(result)

1220.67

In [89]:
def my_function(fname):
               print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [97]:

def vlookup(result,acc_number,column_index):
 acc_number = '001-123456-003' 
column_index = 3
result = df[df['Account number'] == acc_number].iat[0,column_index-1]

print(result)

1220.67

In [98]:
user_list = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67],['005-912786-009','KRW',45000] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

In [99]:
df = pd.DataFrame(user_list[1:],columns = user_list[0])
df

   Account number Currency    Balance
0  001-123456-003      EUR    1220.67
1  005-912786-009      KRW   45000.00
2  090-888999-100      USD    1122.99
3  001-112244-003      JPY  150000.00

In [123]:
 def vlookup(result,acc_number,column_index):
 acc_number = '001-912786-009' 
 column_index = 2
 result = df[df['Account number'] == acc_number].iat[0,column_index-1]

print(result)

IndentationError: expected an indented block (<ipython-input-123-5303511661fa>, line 2)

In [124]:
print("Enter your account number: ")
account_number = input()
print('Please choose currency (2) or account balance (3): ')
column_index = input()

Enter your account number:

 001-123456-003

Please choose currency (2) or account balance (3):

 3

In [133]:
print("Enter your account number: ")
account_number = input()
print('Please choose currency (2) or account balance (3): ')
column_index = int(input())
result = df[df['Account number'] == acc_number].iat[0,column_index-1]
print(result)

Enter your account number:

 444

Please choose currency (2) or account balance (3):

 2

JPY

In [140]:
def vlookup(result,acc_number,column_index):
    print("Enter your account number: ")
    account_number = input()
    print('Please choose currency (2) or account balance (3): ')
    column_index = int(input())
    result = df[df['Account number'] == acc_number].iat[0,column_index-1]
print(result)

JPY

In [163]:
def vlookup(result,acc_number,column_index):
    print("Enter your account number: ")
    account_number = input()
    print('Please choose currency (2) or account balance (3): ')
    column_index = int(input())
    result = df[df['Account number'] == acc_number].iat[0,column_index-1]
print(result)

JPY

In [149]:
print("Enter your account number: ")
account_number = input()
print('Please choose currency (2) or account balance (3): ')
column_index = int(input())
def vlookup(result,acc_number,column_index):
    result = df[df['Account number'] == acc_number].iat[0,column_index-1]

print(result)

Enter your account number:

 005-912786-009

Please choose currency (2) or account balance (3):

 3

JPY

In [151]:
user_listA = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67],['005-912786-009','KRW',45000] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

In [152]:
dfA = pd.DataFrame(user_listA[1:],columns = user_list[:1])
dfA

   Account number Currency    Balance
0  001-123456-003      EUR    1220.67
1  005-912786-009      KRW   45000.00
2  090-888999-100      USD    1122.99
3  001-112244-003      JPY  150000.00

In [162]:
print("Enter your account number: ")
account_number = input()
print('Please choose currency (2) or account balance (3): ')
col_index = 2
x = dfA[dfA['Account number'] == account_number].iat[0,col_index-1]
print(x)

Enter your account number:

 090-888999-100

Please choose currency (2) or account balance (3):

TypeError: only integer scalar arrays can be converted to a scalar index

In [167]:
print("Enter your account number: ")
account_number = input()
print('Please choose currency (2) or account balance (3): ')
column_index = int(input())
result = df[df['Account number'] == acc_number].iat[0,column_index-1]
print(result)

Enter your account number:

KeyboardInterrupt: Interrupted by user

In [202]:
user_list[0:1]

[['Account number', 'Currency', 'Balance']]

In [168]:
user_list = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67],['005-912786-009','KRW',45000] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

In [232]:
df = pd.DataFrame(user_list[1:],columns = user_list[0])
df

   Account number Currency    Balance
0  001-123456-003      EUR    1220.67
1  005-912786-009      KRW   45000.00
2  090-888999-100      USD    1122.99
3  001-112244-003      JPY  150000.00

In [233]:
acc_number = '090-888999-100'
column_index = 3
df[df['Account number'] == acc_number].iat[0,column_index-1]

1122.99

In [253]:
print("Enter your account number: ")
acc_number = input()
print('Please choose to display currency (2) or account balance (3): ')
column_index = int(input())
df[df['Account number'] == acc_number].iat[0,column_index-1]

Enter your account number:

 001-112244-003

Please choose to display currency (1) or account balance (2):

 2

150000.0

In [3]:
import pandas as pd

In [6]:
def vloopup(data, acc_number, col_index):
    df = pd.DataFrame(user_list[1:], columns = user_list[0])
    return df[df['Account number'] == acc_number].iat[0, col_index-1]

In [4]:
user_list = [['Account number','Currency','Balance'],['001-123456-003', 'EUR',1220.67],['005-912786-009','KRW',45000] ,['090-888999-100','USD',1122.99],['001-112244-003','JPY',150000]]

In [7]:
print('Please enter accounts: ')
acc = input()
print('Please choose to display Currency (2) or Balance: ')
col_index = input()
vloopup(user_list, acc, int(col_index))

Please enter accounts:

 001-123456-003

Please choose to display Currency (2) or Balance:

 2

'EUR'

In [99]:
df = pd.DataFrame(user_list[1:],columns = user_list[0])
df

   Account number Currency    Balance
0  001-123456-003      EUR    1220.67
1  005-912786-009      KRW   45000.00
2  090-888999-100      USD    1122.99
3  001-112244-003      JPY  150000.00

In [ ]:
us

In [ ]:
vloopup()

In [250]:
df.iat[1,column_index]

'KRW'

In [218]:
user_list[1:]

[['001-123456-003', 'EUR', 1220.67],
 ['005-912786-009', 'KRW', 45000],
 ['090-888999-100', 'USD', 1122.99],
 ['001-112244-003', 'JPY', 150000]]

# HÀM FUNCTION(X,ACC_NUMBER,COL_INDEX)
## Phân biệt được lỗi ntn 
- IMPORT FILE EXCEL
- TO EXCEL

pd

In [21]:
pd.read_excel('../../cust1.xlsx', engine='openpyxl')

   Account_number Currency    Balance
0  001-100922-010      EUR    1200.22
1  090-123456-012      CNY     200.33
2  090-112233-045      USD    1040.11
3  013-001001-009      JPY  135000.00