tiếp buổi 1

In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [4]:
type(1 + 2j)

complex

In [5]:
(1j)**2

(-1+0j)

Complier

In [6]:
type('My name is Huong')

str

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [10]:
type(None)

NoneType

In [11]:
True + False

1

In [12]:
True + True

2

## Comparision

In [14]:
True > False

True

In [15]:
3 >= 3

True

In [16]:
3 == 4

False

a = 3 --> phép gán, == là phép so sánh

In [19]:
a = 3
print(a)

3

In [20]:
True or False

True

In [21]:
True or False or False or False

True

In [22]:
False or 3

3

tất cả các giá trị khác 0 là đại diện cho true 
chỉ cần 1 phép có True là True

In [24]:
int (True or 3)

1

1 là True 2 là False

In [26]:
3 or True

3

In [27]:
True or 3

True

In [28]:
(True or False) and False

False

In [29]:
not True

False

In [30]:
not False

True

In [31]:
1 in [1, 2, 3]

True

### 2.2 Data Structure

- List: [] or list()
- Tuple: () or tuple()
- Set {a, b, c}, set()
- Dictionary: {key: value} or {}

- Mutable; can change elements 
- Immutable: cannot change elements

In [37]:
a = 1
print('before: ', id(a))
a = 2 
print('after: ', id(a))

before:  4314970464
after:  4314970496

In [35]:
a = 2
id(a)

4314970496

--> immutable

In [38]:
li = [1,2,3,4]
print(f'Before: ', id(li))
li[0] = [5]
print(f'Before: ', id(li))

Before:  4382454848
Before:  4382454848

--> mutable

**List**

In [41]:
# index: vị trí của từng phần tử trong list, bắt đầu bằng 0 
li = [1, 2, 3, 4, 5, 'Truong', True, (1 + 2j)]
li

[1, 2, 3, 4, 5, 'Truong', True, (1+2j)]

In [42]:
li[7]

(1+2j)

In [43]:
li.index('Truong')

5

In [45]:
li[5]= 'Mai'
li

[1, 2, 3, 4, 5, 'Mai', True, (1+2j)]

In [46]:
li[-2] = False
li

[1, 2, 3, 4, 5, 'Mai', False, (1+2j)]

In [49]:
li[li.index(6)] = 6
li

[1, 2, 3, 4, 6, 'Mai', False, (1+2j)]

In [51]:
[method for method in dir(li) if not method.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [53]:
# hiển thị hàm dùng với list 

dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [54]:
li

[1, 2, 3, 4, 6, 'Mai', False, (1+2j)]

In [56]:
li.append(li)
li

[1, 2, 3, 4, 6, 'Mai', False, (1+2j), [...], [...]]

In [ ]:
li.clear()
li

In [59]:
li

[]

In [64]:
li = [1, 2, 3, 4, 6, 'Mai', False, (1+2j)]
li

[1, 2, 3, 4, 6, 'Mai', False, (1+2j)]


li.extend(): coi từng cái trong đó là 1 phần tử 
#khác append: thêm vào cuối và cả cụm list là 1 phần tử

In [66]:
li = [1, 2, 3]

In [68]:
li.append([5, 6, 7])
li

[1, 2, 3, [5, 6, 7], [5, 6, 7]]

In [70]:
li.extend([5, 6, 7])
li

[1, 2, 3, [5, 6, 7], [5, 6, 7], 5, 6, 7, 5, 6, 7]

In [71]:
li.extend(567)

TypeError: 'int' object is not iterable

In [73]:
li.extend([567])
li

[1, 2, 3, [5, 6, 7], [5, 6, 7], 5, 6, 7, 5, 6, 7, 567, 567]

In [75]:
li.extend('abc')
li

[1,
 2,
 3,
 [5, 6, 7],
 [5, 6, 7],
 5,
 6,
 7,
 5,
 6,
 7,
 567,
 567,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [77]:
li[3][1]

6

In [80]:
li.pop(3)
# li.remove ([5,6,7]))
li

[1, 2, 3, 6, 7, 5, 6, 7, 567, 567, 'a', 'b', 'c', 'a', 'b', 'c']

In [79]:
li.remove([5, 6, 7])
li

[1, 2, 3, 5, 6, 7, 5, 6, 7, 567, 567, 'a', 'b', 'c', 'a', 'b', 'c']

In [82]:
li.remove('b')
li
# remove chữ cái xuất hiện đầu tiên

[1, 2, 3, 6, 7, 5, 6, 7, 567, 567, 'a', 'c', 'a', 'c']

In [84]:
li.reverse()
li
#đổi ngược lại

[1, 2, 3, 6, 7, 5, 6, 7, 567, 567, 'a', 'c', 'a', 'c']

In [86]:
li[::-1]
# 1 hàm reverse luôn

['c', 'a', 'c', 'a', 567, 567, 7, 6, 5, 7, 6, 3, 2, 1]

In [87]:
li[2:6]

[3, 6, 7, 5]

In [88]:
li[::-2]

['c', 'c', 567, 7, 5, 6, 2]

In [96]:
li = ['truong', 'nhat', 'name', 'thu']
li

['truong', 'nhat', 'name', 'thu']

In [101]:
[i.upper() for i in li]

['TRUONG', 'NHAT', 'NAME', 'THU']

In [103]:
li_2 = [i.upper() for i in li]
li_2

['TRUONG', 'NHAT', 'NAME', 'THU']

### Tuple

immutable: khi ko muốn người khác thay đổi giá trị thì xài

In [105]:
tup = (1,2,3)
tup

(1, 2, 3)

In [106]:
tup [0]

1

In [107]:
[method for method in dir(tup) if not method.startswith('__') ]

['count', 'index']

In [108]:
tup = (1,2,2,3,3,3)

In [109]:
tup.count(2)

2

In [110]:
tup.index(2)

1

In [113]:
tup.index(2, 2) 
# tìm số 2 từ vị trí số 2

2

In [115]:
tup [1] = 4
# ko được vì nó là immutable

TypeError: 'tuple' object does not support item assignment

### Set
- no indexing 
- no duplicate values

In [117]:
se = {1,1,2,2,3,4}
se

{1, 2, 3, 4}

In [118]:
[method for method in dir(set) if not method.startswith('__') ]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [120]:
a = set([3,2,3,4,'Truong'])
b = {3, 'Truong', 'Nam'}
a, b

({2, 3, 4, 'Truong'}, {3, 'Nam', 'Truong'})

In [182]:
a.add('Huong')
a

{4, 'Huong', 'Truong'}

In [183]:
b.add('4')
b

{3, '4', 'Nam', 'Truong'}

In [188]:
a.copy()
a

{4, 'Huong', 'Truong'}

In [123]:
a.difference(b)
# lấy giá trị của a mà ko có trong b

{2, 4}

In [124]:
a.difference_update(b)
a
# update giá trị của a mà ko có trong b thành set a

{2, 4}

In [127]:
a = set([3,2,3,4,'Truong'])
b = {3, 'Truong', 'Nam'}
a, b

({2, 3, 4, 'Truong'}, {3, 'Nam', 'Truong'})

In [190]:
a.discard('Truong')
a

{4, 'Huong'}

In [128]:
a.intersection(b)

{3, 'Truong'}

In [129]:
a.symmetric_difference(b)

{2, 4, 'Nam'}

In [191]:
a.issuperset(b)

False

In [192]:
a.issubset(b)

False

In [130]:
a.union(b)

{2, 3, 4, 'Nam', 'Truong'}

In [131]:
a.isdisjoint(b)

False

In [134]:
a.pop()
#a.remove()
a

{4, 'Truong'}

In [194]:
a.clear()
a

set()

In [195]:
b.clear()
b

set()

### Dictionary 
{key:value}
phải có key mới lấy đc values

In [135]:
dic_1 = {'name': ['truong', 'hoai', 'huong'], 'age': [18,20,22]}
dic_1

{'name': ['truong', 'hoai', 'huong'], 'age': [18, 20, 22]}

In [136]:
dic_1['name']

['truong', 'hoai', 'huong']

key ko được trùng nhau nhưng values được trùng nhau

In [137]:
[method for method in dir(dict) if not method.startswith('__') ]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [142]:
dic_1.get('name')

['truong', 'hoai', 'huong']

In [158]:
dic_1.copy()

{'name': ['truong', 'hoai', 'huong'], 'age': [18, 20, 22]}

In [160]:
dic_1.fromkeys()

TypeError: 'int' object is not iterable

In [162]:
dic_1.pop('name', [])

['truong', 'hoai', 'huong']

In [167]:
dic_1.popitem('name',  )

TypeError: popitem() takes no arguments (1 given)

In [171]:
dic_1.update()

In [150]:
dic_1.items()

dict_items([('name', ['truong', 'hoai', 'huong']), ('age', [18, 20, 22])])

In [149]:
dic_1.keys()

dict_keys(['name', 'age'])

In [153]:
dic_1.setdefault('name')

['truong', 'hoai', 'huong']

In [154]:
dic_1.get('ma', 'BK')

'BK'

In [173]:
dic_1.values()

dict_values([[18, 20, 22]])

In [157]:
for key, values in dic_1.items():
    print(f'key: {key} - Values: {values}')

key: name - Values: ['truong', 'hoai', 'huong']
key: age - Values: [18, 20, 22]

In [176]:
dic_1.clear()

In [177]:
dic_1.copy()

{}