# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
s1 = pd.Series(np.random.randint(1, 4,100))
s2 = pd.Series(np.random.randint(1, 3,100))
s3 = pd.Series(np.random.randint(10000, 30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [10]:
df = pd.concat([s1,s2,s3],axis = 1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [15]:
df.rename(columns = {0:'bedrs',1:'bathrs',2:'price_sqr'}, inplace = True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [42]:
big_col=pd.concat([s1,s2,s3],axis = 0)

In [43]:
big_col = big_col.to_frame()

In [44]:
print(type(big_col))

<class 'pandas.core.frame.DataFrame'>

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [45]:
big_col

        0
0       1
1       3
2       2
3       1
4       3
..    ...
95  21866
96  21316
97  15922
98  20296
99  26548

[300 rows x 1 columns]

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [46]:
big_col.reset_index(drop=True,inplace = True)

In [47]:
big_col

         0
0        1
1        3
2        2
3        1
4        3
..     ...
295  21866
296  21316
297  15922
298  20296
299  26548

[300 rows x 1 columns]